#floatingButton {
  user-select: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: #0026ff;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: all 0.15s ease-out;
  z-index: 2;
}
#floatingButton:hover {
  transform: scale(1.1);
}

#floatingButton svg {
  height: 24px;
  width: 24px;
}

#chatWrapper,
#chatWrapper * {
  box-sizing: border-box;
}

#chatWrapper {
  position: relative;
  font-family: "DM Sans";
  z-index: 2147483647;
}

#chat {
  position: fixed;
  right: 20px;
  bottom: -100vh;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  max-height: 100%;
  max-width: 300px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #f7f9fc;
  box-shadow: 0 20px 20px -10px #8f9bb780;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

#chatWrapper.show #chat {
  bottom: 90px;
}

#chat #chatHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 15px 10px 15px 15px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 #8f9bb720;
}

#chatHeader #chatConnectingIcon {
  height: 14px;
  width: 14px;
  color: #060b27;
}

#chatHeader #chatConnectedIcon {
  display: none;
  height: 10px;
  width: 10px;
  background-color: #0cdb3f;
  border-radius: 50%;
}

#chatHeader #chatHeaderStatusText {
  display: flex;
  flex-direction: column;
  user-select: none;
  margin-left: 10px;
  color: #060b27;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}

#chatHeader #chatHeaderStatusText #chatHeaderStatusAvailable {
  user-select: none;
  color: #060b2770;
  font-size: 12px;
  font-weight: 600;
}

#chatHeader #chatHideButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

#chatHeader #chatHideButton svg {
  color: #060b2750;
  height: 24px;
  width: 24px;
  transition: all 0.1s ease-out;
}
#chatHeader #chatHideButton svg:hover {
  color: #060b27;
}

#chatBody {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;
  max-width: 100%;
  margin: 0 -10px 0 0;
  padding: 10px 20px 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

#chatInitializingLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #8f9bb7;
}

#chatNoMessages {
  user-select: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #8f9bb7;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.chatMessage {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 30px;
  max-width: 80%;
  margin-right: auto;
  margin-left: 0;
  padding: 6px 15px;
  border-radius: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #060b27;
  font-size: 14px;
  line-height: 18px;
}

.chatMessage span {
  display: inline;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break: break-word;
  hyphens: auto;
}

.chatMessage span a {
  display: inline;
  color: #0026ff;
}
.chatMessage.chatMessageFrom span a {
  display: block;
  color: #ccd4ff;
}

.chatMessage.chatMessageFrom {
  color: #fff;
  background-color: #0026ff;
  border-color: transparent;
  margin-left: auto;
  margin-right: 0;
}

.chatMessage.chatMessageSending {
  margin-right: 18px;
}

.chatMessage .sendingMessageIndicator {
  position: absolute;
  bottom: 0;
  right: -18px;
  height: 12px;
  width: 12px;
  color: #8f9bb7;
}

#chatLastMessageTime {
  margin: 10px 0;
  color: #555;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}

#chatBottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 20px;
}

#chatBottomWrapper #chatTextInputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -10px #8f9bb750;
}

#chatBottomWrapper #chatTextInputWrapper #chatTextInput {
  display: block;
  height: 40px;
  width: 100%;
  padding: 10px 22px 0 0;
  color: #060b27;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  white-space: pre-wrap;
  border: none;
  resize: none;
  outline: none;
  overflow: hidden;
  overflow-wrap: break-word;
}
#chatBottomWrapper #chatTextInputWrapper #chatTextInput::placeholder {
  color: #8f9bb7;
}

#chatBottomWrapper #chatTextInputWrapper #chatSendButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  outline: none;
  transition: all 0.1s ease-out;
}

#chatBottomWrapper #chatTextInputWrapper #chatSendButton svg {
  color: #8f9bb7;
  height: 16px;
  width: 16px;
}

#chatWrapper.has-value
  #chatBottomWrapper
  #chatTextInputWrapper
  #chatSendButton {
  background-color: #0026ff;
}

#chatWrapper.has-value
  #chatBottomWrapper
  #chatTextInputWrapper
  #chatSendButton
  svg {
  color: #fff;
}

/* Scrollbar */
#chatWrapper ::-webkit-scrollbar {
  width: 5px;
}
#chatWrapper ::-webkit-scrollbar-track {
  background: transparent;
}
#chatWrapper ::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ccc;
  border-radius: 10px;
}
#chatWrapper ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
